<doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='cart.png') }}">     

<center>
<title>New Product</title>
<h2>Creating Account</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.userNumber) }}
        {{ render_field(form.address1) }}
        {{ render_field(form.postcode) }}
        {{ render_field(form.password) }}

    </dl>
    <p><input type=submit value=Submit>
</form>
{% block content %}
{% endblock %}

</center>
